[flake8]
max-line-length = 100
extend-ignore = E203, W503, E501
exclude =
    .git,
    __pycache__,
    .venv,
    venv,
    build,
    dist,
    docs,
    *.egg-info,
    alembic/versions,
    scripts,
    call_next_ticket.py
per-file-ignores =
    tests/*: D, S101
